input[type="search"],
button {
  border-radius: 40px;
}

input[type="search"] {
  border: 2px solid black;
  padding: 15px 15px;
  margin-top: 20px;
  width: 280px;
  height: 50px;
}
button {
  width: 100px;
  height: 45px;
  background-color: #4b4971;
  margin-top: 20px;
  display: inline;
}

.Weather .form-control {
  display: inline-block;
}
@media (max-width: 600px) {
  input[type="search"] {
    width: 150px;
    height: 35px;
  }
  button {
    width: 70px;
    height: 30px;
    margin-top: 10px;
  }
}
